.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cloud-icon {
  width: 100px;
  margin-bottom: 20px;
}

.welcome-content {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.city-form {
  margin-top: 20px;
}

.city-form input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.city-form button {
  padding: 10px 20px;
  background-color: #8a2be2; /* Purple Blue */
  color: #fff; /* White */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.city-form button:hover {
  background-color: #6a1ca6; /* Darker Purple Blue */
}
